In [3]:
import pandas as pd
import json
import numpy as np
from collections import OrderedDict

In [166]:
# Specify the file to be read

filename = input("What is the file you'd like to read?")

## on my computer, I use the following
#filename = '/Users/willb/Documents/GitHub/efficient-learning-khan/code/eff data/efflearnkhan_18.csv'

fulldf = pd.read_csv(filename, sep='\t')

In [167]:
# generate the answer key

qdict = {}  # maps question => [answer, question ID, video number]

infile = open("../data analysis/astronomyquestions.tsv", "r")

parts = []
for line in infile.read().split("\n"):
    parts.append(line.split("\t"))

for line in parts:
    qdict[line[2]] = [line[3], line[0], line[1]]

In [168]:
# helper method

# updates the entry list given participant #num's questions (qsets) and answers (asets)
def grade(entries, num, qsets, asets):
    for set in range(3):    # for each of the 3 sets
        for q in range(13):    # for each of the 13 questions in the set
            question = qsets[set][q]
            entry = {"participantID":num}   # create an entry for the dataframe
            if question in qdict:    # check if we have the question...
                entry["qID"] = qdict[question][1]
                entry["set"] = set
                entry["video"] = qdict[question][2]
                if qdict[question][0] == asets[set][q]:
                    entry["correct?"] = 1
                else:
                    entry["correct?"] = 0
            else:     # ...and if not, output an error
                entry = {"participantID":num, "qID":-1, "set":set, "video":-1, "correct":-1}
            entries.append(entry)

In [169]:
# read and grade the file, and output a pandas dataframe called df

entries = []
    
for row in range(len(fulldf)):
    asets = []
    qsets = [] 
    for block in json.loads(fulldf.loc[row, 'datastring'])['data']: 
        # if the json block contains answers, put the text in subas
        if 'responses' in block['trialdata']:
            qsets.append([i.replace("&#8217;","\'") for i in OrderedDict(json.loads(block['trialdata']['responses'])).values()])
    
        # if the json block contains questions, put the text in subqs
        elif isinstance(block['trialdata'], type(list)):
            asets.append([qset['prompt'].replace("&#8217;","\'") for qset in block['trialdata']])
      
    if len(asets) == 3 and len(qsets) == 3:
        grade(entries, row + 1, asets, qsets)
    else:
        message = "Could not grade participant " + str(row) + ". Expected 3 sets of questions and 3 sets of answers,\n"
        message += "but found " + str(len(qsets)) +  " sets of questions and " + str(len(asets)) + " sets of answers." 
        print(message)
    
df = pd.DataFrame(entries)
df

Could not grade participant 1. Expected 3 sets of questions and 3 sets of answers,
but found 2 sets of questions and 3 sets of answers.

     correct?  participantID qID  set video
0           1              1  32    0     0
1           0              1  12    0     1
2           1              1  36    0     0
3           0              1   4    0     1
4           1              1  10    0     1
5           0              1  22    0     2
6           0              1   1    0     1
7           0              1  25    0     2
8           0              1  33    0     0
9           1              1  16    0     2
10          0              1  26    0     2
11          1              1  28    0     2
12          1              1  11    0     1
13          0              1   7    1     1
14          0              1   9    1     1
15          1              1  23    1     2
16          0              1  35    1     0
17          1              1  15    1     1
18          1              1  31    1     0
19          0              1  19    1     2
20          0              1  21    1     2
21          1              1   3    1     1
22          0              1  30    1     2
23          1              1  34    1     0
24          0              1  27    1     2
25          0              1   6    1     1
26          1              1   2    2     1
27          0              1  37    2     0
28          1              1  18    2     2
29          1              1  17    2     2
..        ...            ...  ..  ...   ...
126         1              5   5    0     1
127         0              5  32    0     0
128         1              5   9    0     1
129         0              5  37    0     0
130         1              5  15    1     1
131         1              5  29    1     2
132         0              5  17    1     2
133         1              5  11    1     1
134         1              5  18    1     2
135         1              5  39    1     0
136         1              5  10    1     1
137         1              5   3    1     1
138         1              5  31    1     0
139         1              5   7    1     1
140         1              5  38    1     0
141         1              5  20    1     2
142         0              5  24    1     2
143         1              5  22    2     2
144         1              5   6    2     1
145         1              5  14    2     1
146         1              5  36    2     0
147         1              5   4    2     1
148         1              5   1    2     1
149         1              5  33    2     0
150         1              5  23    2     2
151         1              5  19    2     2
152         1              5  34    2     0
153         1              5  25    2     2
154         1              5  30    2     2
155         1              5   8    2     1

[156 rows x 5 columns]